@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main role="main">
    <div class="container marketing">

        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/zoo-staff1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="marketinghead">Our Staff</h2>
                <p>The staff at our zoo is exceptional, demonstrating a high level of dedication, expertise, and compassion in their daily work to care for the animals and educate the public.</p>
                @*<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>*@
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/close_animal.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="marketinghead">Closer to the animals</h2>
                <p>Our zoo provides a unique and immersive experience that brings visitors up close and personal with the animals, allowing them to observe and appreciate these incredible creatures in a safe and respectful environment</p>
                @*<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>*@
            </div>

            <div class="col-lg-4">
                <img class="rounded-circle" src="/img/zoo_kids1.jpg" alt="Generic placeholder image" width="140" height="140">
                <h2 class="marketinghead">Build with kids in mind</h2>
                <p>Our zoo is an amazing destination for kids, providing them with the opportunity to learn about different animals and ecosystems, interact with the natural world, and develop a lifelong love and appreciation for wildlife conservation.</p>
                @*<p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>*@
            </div>

        </div>
        <hr class="mt-4 mb-4">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Truly unique experience - <span class="greentext">For the whole family</span></h2>
                <p class="lead">A trip to the zoo is an amazing experience for the whole family, offering something for everyone with a diverse range of animals, exhibits, and activities to enjoy. Parents can relax and enjoy the beautiful surroundings while their children are engaged and entertained by the sights and sounds of the animal world. With educational programs, feeding demonstrations, and other special events, our zoo is the perfect destination for a fun and educational family outing.</p>
            </div>
            <div class="col-md-5">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/img/timon.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="mt-4 mb-4">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">With a lot of care. <span class="greentext">Especially for the little ones.</span></h2>
                <p class="lead">Our zoo takes perfect care of its little animals by providing them with spacious and comfortable enclosures, as well as a balanced diet and regular veterinary checkups. Additionally, the zoo's animal care staff is highly trained and dedicated to ensuring the physical and emotional well-being of each animal in their care. Finally, the zoo also offers enrichment activities and programs to keep the little animals mentally stimulated and engaged in their surroundings.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/img/tiger.jpg" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="mt-4 mb-4">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Like a day trip, <span class="greentext">but around the world.</span></h2>
                <p class="lead">Our zoo is home to an incredible array of animals from all corners of the world, providing visitors with a global experience without ever leaving the city. From majestic lions and tigers to exotic birds and reptiles, our zoo offers a diverse range of species that are carefully curated to provide an educational and engaging experience for all ages. With expert animal care and educational programs, our zoo is committed to promoting conservation and appreciation for the incredible diversity of animal life on our planet.</p>
            </div>
            <div class="col-md-5">
                <img width="500" height="500" class="featurette-image img-fluid mx-auto" src="/img/animals1.jpg" alt="Generic placeholder image">
            </div>
        </div>
    </div>
</main>