@page
@model WEB.Pages.ProfileUpdateModel
@{
}

<section class="h-100 h-custom" style="background-color: transparent">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="round card">
                    <div class="registerround card-body green p-4 p-md-5">
                        <h1 class="display-5 mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-light">Update</h1>

                        <form asp-page-handler="Update" class="mx-1 mx-md-4" method="post">

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.Email" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.Email"></span>
                                    <input asp-for="Person.Email" class="form-control form-control-lg" type="email">
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.PhoneNumber" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.PhoneNumber"></span>
                                    <input asp-for="Person.PhoneNumber" class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.City" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.City"></span>
                                    <input asp-for="Person.City" class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.Street" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.Street"></span>
                                    <input asp-for="Person.Street" class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.ZipCode" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.ZipCode"></span>
                                    <input asp-for="Person.ZipCode" class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="d-flex flex-row align-items-center mb-1">
                                <div class="form-outline flex-fill mb-0">
                                    <label asp-for="Person.HouseNumber" class="form-label text-light"></label>
                                    <span asp-validation-for="Person.HouseNumber"></span>
                                    <input asp-for="Person.HouseNumber" class="form-control form-control-sm">
                                </div>
                            </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-outline-light">Update</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>